* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: antiquewhite;
  height: 100vh;
}

.dot {
  background: gray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  animation: pulse 3s infinite ease-in-out;
}

/* Keyframes */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    background-color: rgb(95, 95, 95);
  }

  50% {
    transform: scale(1.2);
    background: gray;
  }
}
